@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.chart {
  width: 100%;
  height: 100%;
  position: relative;
  
  svg {
    display: block;
  }
  
  &__line {
    @include smooth-transition(stroke opacity);
    fill: none;
    
    &:hover {
      stroke-width: 3;
      opacity: 1;
    }
  }

  &__area {
    opacity: 1;
    @include smooth-transition(opacity);
  }
}

