@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.button {
  @include button-reset;
  @include flex-center;
  gap: $spacing-sm;
  padding: $spacing-xxs $spacing-sm;
  border: 1px solid var(--color-button-border);
  border-radius: $border-radius-sm;
  background: var(--color-button-bg);
  color: var(--color-button-text);
  font-size: $font-size-base;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
  @include theme-transition(all);
  @include focus-visible;
  
  svg {
    flex-shrink: 0;
  }

  &:has(svg:only-child) {
    padding: $spacing-xxs;
    min-width: 28px;
    min-height: 28px;
  }
  
  &:hover:not(&--disabled) {
    background: var(--color-button-hover);
    border-color: var(--color-border-hover);
    color: var(--color-variation-a);
  }
  
  &--ghost {
    background: transparent;
    border-color: transparent;
    
    &:hover:not(.button--disabled) {
      background: var(--color-button-hover);
    }
  }
  
  &--active {
    background: var(--color-button-active);
    border-color: var(--color-variation-a);
    color: var(--color-variation-a);
  }
  
  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

